#linkedinicon{
    color: rgb(0,127,178);
}
#githubicon{
    color: rgb(102,43,129);
}
#freecodecampicon{
    color: #006600;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:lobster;               
}
.btn-default{
    background-color:black;
    border-color:black;
    color:#337ab7;
    font-size:1.7em;
    opacity:.5;  
}
.jumbotron{
    background:url("../img/fondo.jpg");
    color:white;
}
.pageTwo{
    background-color: #28a4c9;
    background-size: cover;
    padding-bottom: 20px;              
}
#foto1{
    height: 300px;   
    border-radius: 50%;
}
